@import "~src/styles/variables";

:host-context {
    display: block;
}

.card {
    padding-top: $gutter-padding * 2;
    padding-bottom: $gutter-padding * 2;
}

.card__image {
    max-height: 350px;
    overflow: hidden;
}

.card__content {
    width: 100%;
    float: left;
    padding-top: 0.5em;
}

.card__title {
    margin-top: 0;
    font-size: $font-size-large;
}


.card__lastmod {
    font-style: italic;
    font-size: $font-size-small;
    padding-right: 1em;
    padding-top: 1em;
    float: right;
}

.card__action-container {
    margin-top: 1em;
    margin-bottom: 1em;
    float: left;
}
.card__action-link {
    background-color: $brand-primary;
    text-transform: uppercase;
    color: $text-color;
    font-size: $font-size-small;
    font-weight: 600;
    padding: 1rem 2rem;
    float: left;
}